body{
  background-color: skyblue;
  margin: 0;


}

.barra{
  height: 3.125rem;
  width: 1000px;
  background-color: red;
  float: left;

  }


.documentales{
    float: left;
}



p{

  float: left;
  background-color: ;
}



#img{

  background-color: red;
    float: left;
}

.documentales{
  margin: 10px;

}
