body{
  background-color: skyblue;
  margin: 0;
    font-family: arial;
}

div{
  background-color: red;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 400px;

}
h1, p{
width: 350px;
padding:25px;

}

h1{

  margin: 0px;
}

p{
  padding:  0 25px;
  margin:0;

}

li{

  display: inline-block;
  height: 30px;
  padding: 5px;
  line-height: 30px;
}

li:hover{
background-color: #D9D1CC;
}

img {
  padding: 25px;

}

 a{
   text-decoration: none;
 }

#primera{
    height: 40px;
}

#segona{
    height:550px;
    background-image: url(img/img-hero-full-list.png);
    background-repeat: no-repeat;
    background-position: 400px;
}

#tercera{
    height: 641px;
    background-image:  url(img/allinone.jpg);
    background-repeat: no-repeat;
    background-position: 400px;
}

#quarta{
    height: 500px;
    background-image: url(img/curator-short.png);
    color: white;

}

#cinquena{
    height: 550px;
    background-image: url(img/img-hero-full-list.png);

}

#sisena{
    height:550px;
    background-image: url(img/mobile-share.png);
}

#setena{
    height: 643px;
    background-image: url(img/anywhere.png);
    background-repeat: no-repeat;
    background-position: 400px;
}

#vuitena{
  text-align: center;
  height: 200px;

}
#boto{
color: white;
background-color: #D9D1CC;
height: 50px;
width: 50px;
position: fixed;
bottom: 50px;
right: 100px;
line-height: 65px;
font-size:40px;
border-radius: 35px;
box-shadow: 2px 2px 5px black;
background-position: center;



}

.blanca{
    background-color: #FFF;
}

.verda{
    background-color: #6C3;
}
.fosca{
    background-color: #333;
}

.clara{
    background-color: #EEECEE;
}
